{
  "swagger" : "2.0",
  "info" : {
    "description" : "This resource identifies an instance of a manufactured item that is used in the provision of healthcare without being substantially changed through that activity. The device may be a medical or non-medical device. Medical devices includes durable (reusable) medical equipment, implantable devices, as well as disposable equipment used for diagnostic, treatment, and research for healthcare and public health. Non-medical devices may include items such as a machine, cellphone, computer, application, etc. For more information: https://www.hl7.org/fhir/device.html",
    "version" : "DSTU2",
    "title" : "FHIR Device"
  },
  "host" : "api-env.demo.axway.com:8065",
  "basePath" : "/device",
  "schemes" : [ "https" ],
  "security" : [ {
    "API Key" : [ ]
  } ],
  "paths" : {
    "/Device/_history" : {
      "get" : {
        "operationId" : "GET /Device/_history",
        "produces" : [ "application/atom+xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/metadata" : {
      "get" : {
        "description" : "Retrieve resource",
        "operationId" : "GET /metadata",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Succesfully retrieved resource\n"
          }
        }
      }
    },
    "/Device/_search" : {
      "get" : {
        "operationId" : "GET /Device/_search",
        "produces" : [ "application/atom+xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/Device/{id}/_history/{vid}" : {
      "get" : {
        "operationId" : "GET /Device/{id}/_history/{vid}",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "vid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/Device/{id}/_history/{vid}/_tags/_delete" : {
      "post" : {
        "description" : "Removes all tags in the provided list of tags for the nominated version of the resource",
        "operationId" : "POST /Device/{id}/_history/{vid}/_tags/_delete",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "vid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful deletion of tags"
          }
        }
      }
    },
    "/Device/{id}/_history/{vid}/_tags" : {
      "get" : {
        "description" : "get a list of tags used for the nominated version of the resource.  This duplicates the HTTP header entries.",
        "operationId" : "GET /Device/{id}/_history/{vid}/_tags",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "vid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Succesfully retrieved resource\n"
          }
        }
      },
      "post" : {
        "description" : "Affix tags in the list to the nominated verion of the resource",
        "operationId" : "POST /Device/{id}/_history/{vid}/_tags",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "vid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "Succesfully affix tags\n"
          }
        }
      }
    },
    "/_tags" : {
      "get" : {
        "description" : "get a list of all tags",
        "operationId" : "GET /_tags",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Succesfully retrieved resource\n"
          }
        }
      }
    },
    "/" : {
      "get" : {
        "description" : "Retrieve resource",
        "operationId" : "GET /",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Succesfully retrieved resource\n"
          }
        }
      },
      "post" : {
        "description" : "Create a new resource",
        "operationId" : "POST /",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "201" : {
            "description" : "Succesfully created a new resource\n"
          }
        }
      }
    },
    "/Device/$meta" : {
      "get" : {
        "operationId" : "GET /Device/$meta",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved resource(s)\n"
          }
        }
      }
    },
    "/Device" : {
      "get" : {
        "description" : "Get Device",
        "operationId" : "GET /Device",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "post" : {
        "description" : "Create a new type",
        "operationId" : "POST /Device",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "201" : {
            "description" : "Succesfully created a new type\n"
          },
          "400" : {
            "description" : "Bad Request - Resource cound not be parsed or failed basic FHIR validation rules\n"
          },
          "404" : {
            "description" : "Not Found - resource type not support, or not a FHIR validation rules\n"
          }
        }
      }
    },
    "/Device/{id}/$validate" : {
      "get" : {
        "operationId" : "GET /Device/{id}/$validate",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/Device/{id}/_tags" : {
      "get" : {
        "description" : "get a list of tags used for the nominated resource. This duplicates the HTTP header entries",
        "operationId" : "GET /Device/{id}/_tags",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Succesfully retrieved resource\n"
          }
        }
      },
      "post" : {
        "description" : "Affix tags in the list to the nominated resource",
        "operationId" : "POST /Device/{id}/_tags",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "Succesfully affix tags\n"
          }
        }
      }
    },
    "/Device/_validate/{id}" : {
      "post" : {
        "description" : "Create a new resource",
        "operationId" : "POST /Device/_validate/{id}",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "Validates a type\n"
          }
        }
      }
    },
    "/$meta" : {
      "get" : {
        "operationId" : "GET /$meta",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved resource(s)\n"
          }
        }
      }
    },
    "/Device/{id}/_history" : {
      "get" : {
        "operationId" : "GET /Device/{id}/_history",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/Device/$validate" : {
      "get" : {
        "operationId" : "GET /Device/$validate",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/Device/{id}/$everything" : {
      "get" : {
        "operationId" : "GET /Device/{id}/$everything",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/_history" : {
      "get" : {
        "description" : "Whole System History",
        "operationId" : "GET /_history",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Succesfully retrieved resource\n"
          }
        }
      }
    },
    "/Device/{id}/_tags/_delete" : {
      "post" : {
        "description" : "Removes all tags in the provided list of tags for the nominated resource",
        "operationId" : "POST /Device/{id}/_tags/_delete",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      }
    },
    "/Device/_tags" : {
      "get" : {
        "description" : "get a list of tags used for the nominated resource type",
        "operationId" : "GET /Device/_tags",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Succesfully retrieved resource\n"
          }
        }
      }
    },
    "/Device/{id}" : {
      "get" : {
        "operationId" : "GET /Device/{id}",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          },
          "410" : {
            "description" : "Tried to get a deleted resource\n"
          },
          "422" : {
            "description" : "Unprocessable Entity - the proposed resource violated applicable FHIR  profiles or server business rules.  This should be accompanied by an OperationOutcome resource providing additional detail.\n"
          },
          "404" : {
            "description" : "Tried to get an unknown resource\n"
          }
        }
      },
      "put" : {
        "description" : "Update an existing instance",
        "operationId" : "PUT /Device/{id}",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Succesfully updated the instance \n"
          },
          "201" : {
            "description" : "Succesfully created the instance \n"
          },
          "400" : {
            "description" : "Bad Request - Resource cound not be parsed or failed basic FHIR validation rules\n"
          },
          "422" : {
            "description" : "Unprocessable Entity - the proposed resource violated applicable FHIR  profiles or server business rules.  This should be accompanied by an OperationOutcome resource providing additional detail.\n"
          },
          "412" : {
            "description" : "Version conflict management\n"
          },
          "404" : {
            "description" : "Not Found - resource type not support, or not a FHIR validation rules\n"
          },
          "405" : {
            "description" : "Method Not allowed - the resource did not exist prior to the update, and the server does not allow client defined ids\n"
          },
          "409" : {
            "description" : "Version conflict management\n"
          }
        }
      },
      "delete" : {
        "description" : "Delete resource",
        "operationId" : "DELETE /Device/{id}",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Succesfully deleted resource\n"
          },
          "404" : {
            "description" : "Not Found - resource was not found\n"
          },
          "405" : {
            "description" : "Method Not allowed - delete is not allowed\n"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "API Key" : {
      "description" : "API Key",
      "type" : "apiKey",
      "name" : "KeyId",
      "in" : "header"
    }
  },
  "x-axway" : {
    "serviceType" : "rest",
    "image" : "/api/portal/v1.3/discovery/swagger/apis/f4e0bf7c-73fd-414b-b156-ab728420e153/image",
    "basePaths" : [ "https://api-env.demo.axway.com:8065" ],
    "expired" : false,
    "retirementDate" : 0,
    "corsEnabled" : true,
    "deprecated" : false,
    "availableSDK" : {
      "ios-swift" : "/discovery/sdk/f4e0bf7c-73fd-414b-b156-ab728420e153/ios-swift",
      "titanium" : "/discovery/sdk/f4e0bf7c-73fd-414b-b156-ab728420e153/titanium",
      "android" : "/discovery/sdk/f4e0bf7c-73fd-414b-b156-ab728420e153/android",
      "nodejs" : "/discovery/sdk/f4e0bf7c-73fd-414b-b156-ab728420e153/nodejs"
    },
    "apiResourceType" : "swagger20",
    "id" : "f4e0bf7c-73fd-414b-b156-ab728420e153",
    "state" : "published",
    "tags" : {
      "Industry" : [ "Healthcare" ],
      "Type" : [ "Demo_FHIR" ],
      "Category" : [ "Identification", " Devices" ],
      "Standard" : [ "FHIR" ]
    }
  }
}